/* Target navigation buttons on hover state */
button:hover {
    /* Change background color to a slightly darker shade of yellow-green */
    background-color: #5f8513;  /* Adjust the hex code for a different shade of yellow-green */
    
    /* Add smooth transition effect for background color change */
    transition: background-color 0.2s ease-in-out;
    
    /* Increase button size slightly */
    transform: scale(1.1);
}
  
button {
    background-color: yellowgreen;
}
a:hover {
    color: white;
}
a:active {
    color: black;
}
a:visited {
    color: black;
}
a {
    color: white;
    text-decoration: none;
}
body {
    background-color: teal;
    text-align: center;
}
#navigation {
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    background-color: black;
    border-style: solid;
    border-color: white;
}
.aboutMeParagraph {
    background-color: black;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    border-style: groove;
    border-color: yellowgreen;
    border-width: 10px;
    border-radius: 5%;
}
.aboutMeHead {
    color: yellowgreen;
    background-color: black;
    margin-left: 20%;
    margin-right: 20%;
    border-style: groove;
    border-color: white;
    border-width: 5px;

}
.imageContain {
    text-align: center;
}
button {
    border-color: yellowgreen;
    border-style: groove;
}
img {
    border-style: groove;
    border-color: black;
    border-radius: 50%;
    border-width: 10px;
}
footer p {
    margin-left: 20%;
    margin-right: 20%;
    border-style: groove;
    border-color: black;

}
.audioHead {
    color: yellowgreen;
    background-color: black;
    margin-left: 20%;
    margin-right: 20%;
    border-style: groove;
    border-color: white;
    border-width: 5px;
}
.audioParagraph a {
    color: turquoise;
}
.audioParagraph {
    color: white;
    background-color: black;
    margin-left: 20%;
    margin-right: 20%;
    margin: auto;
    border-style: groove;
    border-color: yellowgreen;
    border-width: 5px;
}
.webHead {
    color: yellowgreen;
    background-color: black;
    margin-left: 20%;
    margin-right: 20%;
    border-style: groove;
    border-color: white;
    border-width: 5px;
}
.container {
    margin-left: 30%;
    margin-right: 30%;
    margin: auto;
    border: 5px solid yellowgreen;
    border-radius: 5px;
    text-align: center;
}

.contactHead {
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 0%, 30%, 0%, 30%;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

form {
    text-align: center;
    margin: auto;
}
fieldset {
    border-style: hidden;
    text-align: center;
    margin: auto;
}